html body{
	padding: 0;
	margin: 0;
}
.page-top{
	text-align: center;
	background-color: #4b4;
	padding-top: 3px;
	padding-bottom: 3px;
}

.task-count li{
	margin: 10px 50px 10px 0;
}

.task-count li a{
	margin-right: 30px;
	text-decoration: none;
	color: #333;
}
.completed{
	text-decoration: line-through;
}

.todo-list{
	font-size: 1.2em;
}
 .view{
 	padding: 5px 0;
 	border-bottom: 1px #a1a1a1 solid;
 	border-radius:10px;
 	-moz-border-radius:5px;
 }

.edit{
	display: none;
}
.editing .edit{
	display: block;
}
.editing .view{
	display: none;
	text-decoration: none;
}
.destroy{
	position: absolute;
	right: 90px;
}
.active{
	background-color: #5EA26B;
	padding: 2px;
	border-radius: 2px
}
