<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>任务计划列表</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<script src="./vue.js"></script>
</head>
<body>
	<div class="page-top">
		<div class="page-content blog-nav">
			<h2>任务计划列表</h2>
		</div>
	</div>
	<div class="container">
	<div class="main">
		<blockquote><p>添加任务</p></blockquote>
		<input v-on:keyup.enter="addTodo" v-model="todo" type="text" class="task-input form-control" placeholder="例如：吃饭睡觉打豆豆">
		<ul class="task-count list-inline" v-show="list.length">
			<li>{{ noChecklength }}个任务未完成</li>
			<li class="action">
				<a href="#all" v-bind:class="{active:visibility === 'all'}">所有任务</a>
				<a href="#unfinished" v-bind:class="{active:visibility === 'unfinished'}" >未完成的任务</a>
				<a href="#finished" v-bind:class="{active:visibility === 'finished'}" >已完成的任务</a>
			</li>
		</ul>
		<blockquote>
			<p>任务列表</p>
		</blockquote>
		<div class="tasks">
			<span class="no-task-tip" v-show="!list.length">Not add task</span>
			<ul class="todo-list list-unstyled">
				<li class="todo" :class="{completed:item.isChecked,editing:item === edit}" v-for="item in filterList" >
					<div class="view">
						<input type="checkbox" class="toggle " v-model="item.isChecked" />
						<label @dblclick="editTodo(item)">{{ item.title }}</label>
						<button class="destroy" v-on:click="deleteTodo(item)"><i class="glyphicon glyphicon-remove"></i></button>
					</div>
					<input
						v-focus="item === edit"
						class="edit form-control"
						type="text"
						v-model="item.title"
						v-on:blur="editTodoed(item)"
						v-on:keyup.13="editTodoed(item)"
						v-on:keyup.esc="cancelTodo(item)"
					/>
				</li>
			</ul>
		</div>
	</div>


	</div>
<script src="./app.js"></script>
</body>
</html>
